<div class="col-md-3 mb-3 mt-1"> <!-- начало -->
    <div class="card">
      <div class="card-body">
        <div class="h2">
          <!-- Имя автора -->
          {{ author.first_name }} {{ author.last_name }}
        </div>
        <div0 class="h3 text-muted">
          <!-- username автора -->
          {{ author }}
        </div0>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="h6 text-muted">
            Подписчиков: XXX <br />
            Подписан: XXX
          </div>
        </li>
        <li class="list-group-item">
          <div class="h6 text-muted">
            <!--Количество записей -->
            Записей: {{ author.posts.count }}
          </div>
        </li>
      </ul>
    </div>