<!-- Форма добавления комментария -->
{% extends "base.html" %}
{% block content %}
{% load user_filters %}

  {% if user.is_authenticated %}
    <div class="card my-4">
      <form method="post" action="{% url 'add_comment' post.author.username post.id %}">
        {% csrf_token %}
        <h5 class="card-header">Добавить комментарий:</h5>
        <div class="card-body">
          <div class="form-group">
            {{ form.text|addclass:"form-control" }}
          </div>
          <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
      </form>
    </div>
  {% endif %}

  {% for comment in comments %}
    <div class="media mb-4">
      <div class="media-body">
        <h5 class="mt-0">
          <a href="{% url 'posts:profile' comment.author.username %}">
            {{ comment.author.username }}
          </a>
        </h5>
        <p>
          {{ comment.text|linebreaksbr }}
        </p>
      </div>
    </div>
  {% endfor %}
{% endblock %}
